USE [master]
GO
/****** Object:  Database [demoVB]    Script Date: 8/6/2020 5:08:21 PM ******/
CREATE DATABASE [demoVB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'demoVB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\demoVB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'demoVB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\demoVB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [demoVB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [demoVB]
GO
/****** Object:  Table [dbo].[user]    Script Date: 8/6/2020 5:08:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[ten] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[sdt] [nvarchar](50) NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[user] ON 

INSERT [dbo].[user] ([ten], [email], [sdt], [id]) VALUES (N'le quy don', N'donle2044@gmail.com', N'0339159882', 1)
INSERT [dbo].[user] ([ten], [email], [sdt], [id]) VALUES (N'mai xuan binh minh', N'minhml@gmail.com', N'0339159882', 2)
SET IDENTITY_INSERT [dbo].[user] OFF
USE [master]
GO
